/* Global*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #a5a5a5;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4{
  font-size: 12px;
}


p {
  line-height: 18px;
}

* {
  box-sizing: border-box;  /* para que no se rompan las cajas*/
}

/*
    layout
*/

.container{
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.d-flex {
  display: flex;  
}

.j-content-beet{
  justify-content: space-between;
}
.a-items-center{
  align-items: center;
}
.header{
  padding: 18px;
 }
/*form
*/
 input,
button:focus,
button:active, 
select:focus{
    outline: none;
} 
input[type="text"],
input[type="mail"],
select {
    padding: 10px;
    border-radius: 4px;
    border: 0px solid #cdcdcd;
    }
button {
  padding: 6px 10px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  border: 0px;
}
.row-form {
  margin: 0 0 20px;
}

.box{
  border: 1px solid #979797;
  overflow: hidden;
  border-radius: 14px;
}

/*
    main
*/
 main{
   padding: 20px 20px 120px;
 }

 .main .aside{
   width: 15%;
 }

 .main .section{
   width: 85%;
 }

 /*
    aside
*/
.aside .list a:hover{ /*:hover, :active, :visited, :link*/
  text-decoration: underline;
}

.aside .list {
  margin: 0 0 10px;
}

.aside .list  h2 {
  margin: 0 0 5px 0;
}
.aside .list li {
  margin: 0 0 5px 0;
}

.aside .list  ul li {
  padding: 0 0 0 10px;
}

/*dog list*/
.aside .dog-list{
  color: #00ffdf;
}

.aside .dog-list a{
  color: #6330ff;
}

/*cat list*/
.aside .cat-list h2{
  color: #1fff03;
}

.aside .cat-list a{
  color:#b5b600;
}

/*bird list*/
.aside .bird-list h2{
  color: #dd00ff;
}

.aside .bird-list a{
  color:#036edb;
}

.articles{
  flex-wrap: wrap;
  display: flex;
  margin: 0 -16px;
}
.articles img {
  width: 100%;
}



.articles figure{
  padding: 3px;
  background: #00ffdf;
}

.articles .article {
  position: relative;
  width:25%;
  padding: 0 16px;
  margin: 0 0 32px 0; /*arriba derecha abajo izquierda*/
}

.articles .article:hover figure{
  background: #6330ff;
}

.articles .article-class {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  margin: 0 16px;
  padding: 0 0 0 5px;
  color: #fff;
  background: rgba(0,0,0,.4);
  opacity: 0;
  transition: opacity .5s ease;
}

.articles .article:hover .article-class{
  opacity: 1;
}

.articles .article-class h2 {
  margin: 10px 0 0px;

}

.articles .article-class p {
  line-height: 14px;
  margin: 20px 0 5px;
}

/*
    list-tags
*/
.list-tag li{
  display: inline-block;
  margin: 20px 5px 0 3px;
 }

 /*
    tag
*/
.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  background: #00ffdf;
  
}
.navigation-list ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-list li{
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;

}
.navigation-list li.is-active a {
    color:#7d53ff;
}
.navigation-list a {
  color: #979797;
}
/* .navigation-list li.is-active a:hover {
  text-decoration: none;
  cursor: default;
} */
.navigation-list li:first-child,
.navigation-list li:last-child {
    font-size: 38px;
}

.navigation-list li:first-child:hover a,
.navigation-list li:last-child:hover a{
  text-decoration: none;  
  color: #f09;
}
.navigation-list a:hover {
  text-decoration: underline;
}

/*
footer
*/
.footer {
  padding: 20px;
  font-size: 11px;
}
/*
modal
*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
  opacity: 1;
  transition: all .5s ease;
}
.show-modal .modal {
  opacity: 1;
}
.modal-small .modal-inner {
  position: relative;
  width: 500px;
  background: white;
}
.modal-small .modal-inner .close {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100%;
  line-height: 30px;
  cursor: pointer;
}

.modal-inner {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

.modal h2 {
  margin: 0 0 20px;
  color: #000;
  text-align: center;
  font-size: 20px;
}

.modal .col-right {
  padding: 5px 0 5px 20px;
}

.modal p {
  color: #000;
  margin: 0 0 20px;
  line-height: 16px;
}

.modal .js_submit{
  border: 1px solid #cdcdcd;
  background: blue;
  }
.modal .js_name{
  border: 1px solid #cdcdcd;
}
.modal .js_correo{
  border: 1px solid #cdcdcd;
}
